In [2]:
import numpy as np
import pandas as pd

#### CardInfo training set

In [2]:
#train=pd.read_csv('Elo Project [feature creation2] [No transform] Training Set Part1.csv')
#161533
#len(train.columns) #18

In [3]:
test=pd.read_csv('Elo Project [feature creation]/testing_set.csv')

In [4]:
test.head()

,card_id,feature_1,feature_2,feature_3,first_active_month_year_lag_to_reference_date
0,C_ID_0ab67a22ab,3,3,1,0
1,C_ID_130fd0cbdd,2,3,0,-2
2,C_ID_b709037bc5,5,1,1,0
3,C_ID_d27d835a9f,2,1,0,0
4,C_ID_2b5e3df5c2,5,1,1,-3

In [4]:
#for model training formating purpose 
#train1=train.drop(['target'],axis=1)
#train2=train[["card_id","target"]]

#### Transaction data

In [5]:
t=pd.read_csv('Elo Project [feature creation] cardInfo + transactions_transoform to one row.csv')

#len(t.columns) #53
#len(t) #161533

In [6]:
t.head()

,card_id,# of trans_reocords,# of unique_merchant,# of unique_merchant_category_transaction,"('purchase_amount', 'mean', 'mean')","('purchase_amount', 'max', 'max')","('purchase_amount', 'min', 'min')","('purchase_amount', 'std')",authorized_flag_N,authorized_flag_Y,...,category_2_1.0,category_2_2.0,category_2_3.0,category_2_4.0,category_2_5.0,category_2_999.0,category_3_999,category_3_A,category_3_B,category_3_C
0,C_ID_00007093c1,151,31,19,-0.442338,1.507069,-0.728876,0.296638,35.0,116.0,...,1.0,0.0,121.0,0.0,1.0,28.0,0,0.0,127.0,24
1,C_ID_0001506ef0,67,29,20,-0.659388,1.493545,-0.740491,0.466421,4.0,64.0,...,2.0,0.0,66.0,0.0,0.0,0.0,0,67.0,1.0,0
2,C_ID_000183fdda,155,84,38,-0.378612,2.764788,-0.737892,0.508951,7.0,148.0,...,7.0,1.0,142.0,0.0,1.0,4.0,5,0.0,109.0,41
3,C_ID_00027503e2,42,12,7,-0.739320,-0.734135,-0.745871,0.003334,18.0,24.0,...,3.0,0.0,39.0,0.0,0.0,0.0,0,42.0,0.0,0
4,C_ID_0002c7c2c1,73,44,25,-0.652780,-0.296112,-0.737892,0.079058,9.0,64.0,...,73.0,0.0,0.0,0.0,0.0,0.0,0,73.0,0.0,0

#### Merchant data

In [7]:
m=pd.read_csv('Elo Project [feature creation] cardInfo + merchantInfo_transofrm to one row.csv',index_col='Unnamed: 0')

#len(m.columns) #52
#len(m) #161533

In [8]:
m.head()

,card_id,# of unique_merchant_group,"('numerical_1', 'mean', 'mean')","('numerical_2', 'mean', 'mean')","('avg_purchases_lag3', 'mean', 'mean')","('avg_purchases_lag6', 'mean', 'mean')","('avg_purchases_lag12', 'mean', 'mean')","('avg_sales_lag3', 'mean', 'mean')","('avg_sales_lag6', 'mean', 'mean')","('avg_sales_lag12', 'mean', 'mean')",...,"('most_recent_sales_range_A', 'sum', 'sum')","('most_recent_sales_range_B', 'sum', 'sum')","('most_recent_sales_range_C', 'sum', 'sum')","('most_recent_sales_range_D', 'sum', 'sum')","('most_recent_sales_range_E', 'sum', 'sum')","('most_recent_purchases_range_A', 'sum', 'sum')","('most_recent_purchases_range_B', 'sum', 'sum')","('most_recent_purchases_range_C', 'sum', 'sum')","('most_recent_purchases_range_D', 'sum', 'sum')","('most_recent_purchases_range_E', 'sum', 'sum')"
0,C_ID_00007093c1,15,1.648884,1.622445,1.413299,1.544300,1.596003,1.194400,1.267667,1.310867,...,51.0,12.0,14.0,61.0,13.0,44.0,17.0,12.0,64.0,14.0
1,C_ID_0001506ef0,19,1.660201,1.558317,1.483648,1.633043,1.683127,1.274138,1.349655,1.394138,...,24.0,12.0,16.0,12.0,3.0,27.0,7.0,18.0,12.0,3.0
2,C_ID_000183fdda,64,0.176497,0.156788,1.331406,7.459736,8.055006,1.305955,3.272378,3.532907,...,7.0,51.0,49.0,29.0,19.0,6.0,42.0,52.0,33.0,22.0
3,C_ID_00027503e2,7,0.105299,0.097863,1.966788,2.260121,2.279319,1.487500,1.645833,1.652500,...,0.0,4.0,22.0,11.0,5.0,0.0,2.0,33.0,4.0,3.0
4,C_ID_0002c7c2c1,34,5.981060,5.638288,1.396683,2.909823,4.358277,1.193452,2.347798,3.596845,...,35.0,8.0,9.0,6.0,15.0,35.0,7.0,9.0,13.0,9.0

#### Merge three tb

In [9]:
tb=pd.merge(t,m,how="left",on="card_id")

In [10]:
#tb_x=pd.merge(train,tb,how="left",on="card_id")
test_tb_x=pd.merge(test,tb,how="left",on="card_id")

In [13]:
#tb_x.to_csv('[No transform]full_tb_x.csv')
test_tb_x.to_csv('[testing]full_tb_x.csv')

In [22]:
#tb_x.to_csv('full_tb_x.csv')
#train2.to_csv('full_tb_y.csv')

In [9]:
full_tb=pd.merge(train2,tb,how="left",on="card_id")
#full_tb.to_csv('full_tb.csv')

In [11]:
full_tb.head()

,card_id,target,# of trans_reocords,# of unique_merchant,# of unique_merchant_category_transaction,"('purchase_amount', 'mean', 'mean')","('purchase_amount', 'max', 'max')","('purchase_amount', 'min', 'min')","('purchase_amount', 'std')",authorized_flag_N,...,"('most_recent_sales_range_A', 'sum', 'sum')","('most_recent_sales_range_B', 'sum', 'sum')","('most_recent_sales_range_C', 'sum', 'sum')","('most_recent_sales_range_D', 'sum', 'sum')","('most_recent_sales_range_E', 'sum', 'sum')","('most_recent_purchases_range_A', 'sum', 'sum')","('most_recent_purchases_range_B', 'sum', 'sum')","('most_recent_purchases_range_C', 'sum', 'sum')","('most_recent_purchases_range_D', 'sum', 'sum')","('most_recent_purchases_range_E', 'sum', 'sum')"
0,C_ID_66645317a4,0.063921,57,33,21,-0.709615,-0.550091,-0.745405,0.033653,10.0,...,10.0,22.0,6.0,10.0,9.0,21.0,15.0,8.0,9.0,4.0
1,C_ID_716e986eb1,-0.932504,160,64,33,-0.690556,-0.296263,-0.745405,0.078670,34.0,...,60.0,18.0,28.0,18.0,36.0,58.0,38.0,21.0,24.0,19.0
2,C_ID_ed55d4da27,-1.358110,35,19,16,-0.620602,0.087064,-0.739966,0.145862,5.0,...,4.0,8.0,11.0,6.0,6.0,3.0,12.0,5.0,13.0,2.0
3,C_ID_66b5e358b5,-0.108409,153,60,23,-0.630047,-0.333679,-0.728125,0.090349,53.0,...,27.0,17.0,91.0,10.0,8.0,16.0,27.0,42.0,61.0,7.0
4,C_ID_79bfa65fcf,-0.068852,35,27,19,-0.457909,1.454446,-0.742400,0.745244,6.0,...,8.0,3.0,6.0,15.0,3.0,7.0,3.0,12.0,8.0,5.0

#### Exploratory Analysis

In [12]:
#correlation
# all the variables are not correlated with the target variable
for i in full_tb.corr().target:
    if abs(i)>= 0.1:
        print(i)

1.0

In [18]:
#no null value
full_tb.isnull().any()[full_tb.isnull().any()]

Series([], dtype: bool)